{% extends "base.twig" %}
{% block content %}
    <h2>Quelque Exercices publique</h2>
    <div class="exercices-list">
    {% if exercises is defined %}
        {% for exercise in exercises %}
            <div class="exercise-item">
                <a href="/exercises/{{ exercise.id }}">
                    <div class="info">
                        <p>TODO</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}